<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}empty title {% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>


<div class="jumbotron">
    <h1 class="display-4">BD-JOBS Aggregator</h1>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Refresh</a>
    </p>
    <p><a class="btn btn-info btn-lg" href="{% url 'about' %}" role="button">About Project</a></p>
</div>

<div class="container">

    {% block body %}

    {% endblock %}

</div>

<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021-2022 Copyright:
    <a class="text-dark" href="#">Taukir</a>
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>