{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>-->>bdgovtjob--<<</h2>
            <ul>
                {% for i, v in bdgovtjobs.items %}
                <li>
                    <a href="{{v}}">{{i}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>


        <div class="col-6">
            <h2>-->>telecom bd --<<</h2>
            <ul>
                {% for j, k in telejobs.items %}
                <li>
                    <a href="{{k}}">{{j}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>


{% endblock %}